<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			{{count1}}--{{count2}}
			<counter v-model="count1" :min="1" :max="10"></counter>
			<counter v-model="count2" :min="2" :max="8"></counter>
		</div>
		<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.js"></script>
		<script type="text/javascript">
			Vue.component('counter', {
				template:`
				<div>
				<button class="sub" type="button" @click="mycount--" :disabled="mycount === min">-</button>
				<input class="count" v-model:value="mycount" @input="setCount"/>
				<button class="add" type="button" @click="mycount++" :disabled="mycount === max">+</button>
				</div>
				`,
				props:{
					value:{
						type:Number,
						default:3
					},
					min:{
						type:Number,
						default:2
					},
					max:{
						type:Number,
						default:8
					}
				},
				data() {
					return {
						mycount:this.value
					}
				},
				watch:{
					mycount(val) {
						this.$emit('input', val)
					}
				},
				methods:{
					setCount(e) {
						// console.log(e.target.value)
						let count = e.target.value
						if(isNaN(count)) {
							count = 0
						}
						if(!Number.isInteger(count)) {
							count = parseInt(count)
						}
						if(count < this.min) count = this.min
						if(count > this.max) count = this.max
						
						this.mycount = count
					},
				}
			})
			new Vue({
				el:'#app',
				data() {
					return {
						count1:1,
						count2:2
					}
				}
			})
		</script>
	</body>
</html>
